:root {
  /* ==== Colors ==== */
  /* PRIMITIVES */
  --color-yellow-500: #ffcc4a;
  --color-green-400: #a4eda4;
  --color-neutrals-50: #f9fafb;
  --color-neutrals-200: #eaedf1;
  --color-neutrals-900: #030712;
  --color-neutrals-700: #5a606f;
  --color-blue-700: #101828;
  --color-blue-700-transparent: rgba(16 24 40 / 0.9);
  --color-green-600: #4bb84b;
  --color-neutrals-100: #f9fafb;
  --color-neutrals-400: #99a1af;
  --color-yellow-600: #fbc336;

  /* TOKENS */
  --color-action: var(--color-yellow-500);
  --color-text: var(--color-neutrals-900);
  --color-text-muted: var(--color-neutrals-700);
  --color-surface-primary: #ffffff;
  --color-surface-secondary: var(--color-neutrals-50);
  --color-surface-tertiary: var(--color-neutrals-200);
  --color-surface-elevated: var(--color-blue-700);
  --color-surface-elevated-transparent: var(--color-blue-700-transparent);
  --color-ui-secondary: var(--color-green-400);
  --color-ui-secondary-alternative: var(--color-green-600);
  --color-on-surface-elevated: var(--color-neutrals-50);
  --color-ui-primary: var(--color-neutrals-900);
  --color-on-ui-primary: var(--color-neutrals-50);
  --color-text-weak: var(--color-neutrals-400);
  --color-surface-highlight: var(--color-yellow-600);
  --color-on-ui-primary-muted: var(--color-neutrals-400);

  /* ==== Spacing ==== */
  --space-3xs: clamp(0.1875rem, 0.0938rem + 0.375vw, 0.375rem);
  --space-2xs: clamp(0.375rem, 0.1875rem + 0.75vw, 0.75rem);
  --space-xs: clamp(0.5625rem, 0.2813rem + 1.125vw, 1.125rem);
  --space-s: clamp(0.75rem, 0.375rem + 1.5vw, 1.5rem);
  --space-m: clamp(1.125rem, 0.5625rem + 2.25vw, 2.25rem);
  --space-l: clamp(1.5rem, 0.75rem + 3vw, 3rem);
  --space-xl: clamp(2.25rem, 1.125rem + 4.5vw, 4.5rem);
  --space-2xl: clamp(3rem, 1.5rem + 6vw, 6rem);
  --space-3xl: clamp(4.5rem, 2.25rem + 9vw, 9rem);
  /* ==== Typography ==== */
  --header-: clamp(1rem, 0.5625rem + 1.75vw, 1.875rem);
  --header-links: clamp(1rem, 0.9459rem + 0.2163vw, 1.1081rem);
  --title-: clamp(2.25rem, 1.5rem + 3vw, 3.75rem);
  --heading-1: clamp(2rem, 1.4375rem + 2.25vw, 3.125rem);
  --heading-2: clamp(1.875rem, 1.4063rem + 1.875vw, 2.8125rem);
  --heading-3: clamp(1.5625rem, 1.0938rem + 1.875vw, 2.5rem);
  --heading-4: clamp(1.25rem, 0.7813rem + 1.875vw, 2.1875rem);
  --heading-5: clamp(0.9375rem, 0.4688rem + 1.875vw, 1.875rem);
  --paragraph-: clamp(0.9375rem, 0.9063rem + 0.125vw, 1rem);
  /* ==== Border Radii ==== */
}
